services:
  ogs-swg:
    build:
      context: .
      args:
        ENABLE_WG_TOOLS: 1
    image: ogs-swg:latest
    container_name: ogs-swg
    network_mode: "host"
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    volumes:
      - ./local-data/logs/singbox.log:/var/log/singbox.log:ro
      - ./local-data/singbox/config.json:/etc/sing-box/config.json:ro
      - ./local-data/wireguard/wg0.conf:/etc/wireguard/wg0.conf
      - ./config.json:/config/config.json # panel config
      - ./local-data/data:/var/lib/ogs-swg
    restart: unless-stopped
    command: ["/usr/local/bin/swg", "--config", "/config/config.json", "--db", "/var/lib/ogs-swg/stats.db", "--log", "/var/log/singbox.log"]
